/* Golden Ratio */
main {
    min-height: 60vh; /* Adjust as needed */
}

/* Base Styles */

body{
    margin: 0;
    font-family:"Rubik Glitch", sans-serif;
    color: #363837 ;
    background-color: #E94E18;
    font-size: 20px;
    font-weight: 400; /* Adjusted for consistency */
    line-height: 1,5; /* Using a unitless value for line-height */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
header{
    background-color: #D9C50C;
    text-align: center;
    padding-top: 50px 0 20px;
    padding-bottom: 20px; /* Shorthand for padding */
    width: 100%;
}

header{
    background-image: url("../img/Grunge.png");
    background-blend-mode: multiply; /* Blends the texture with the background color */
    background-size: cover; /* Or 'repeat' if you want to tile a smaller texture */
}

header h1{
    color: #E94E18;
    font-weight: 400; /* Adjusted for consistency */
    font-size: 90px;
}

header img{
    width: 500px;
    padding-top: 20px;
}


/* Main Content Styles */
main{
    max-width: 100%;   
    margin: 0 auto;
    flex: 1; /* Allows main content to grow and push footer down */
}

main h2, main p {
    font-size: 70px;
    font-weight: 400;
    color: #D9C50C;
    padding-left: 5%;
}

main p {
    font-size: 40px; /* Overridden from above for <p> elements */
    margin: 10px 0; /* Adjusted margin */
}



/* Embeded Ig post */
.instagram-embed-wrapper {
    padding-left: 0; /* Add padding to the left */
    /* Or to center the embed and add padding uniformly, you could use: */
    /* padding: 20px; */
    /* margin: auto; */
    max-width: 540px; /* This can be adjusted to fit the embed's width or left out for full width */
    margin: 0 auto; /* This centers the wrapper if max-width is set */
}


/* Link Styles */
a{
    color: #363837;
    font-size: 30px;
    padding-left: 5%;
}

a:hover{
     color: #CB2472;
    background-color:#D9C50C
}

/* Footer Styles */

footer{
    background-color: #D8CF88;
    text-align: center;
    padding: 10px 0; /* Adds more vertical space */
    font-size: 1.5rem; /* Increases readability */
    position: relative; /* Adjust based on layout needs */
    width: 100%;
}

footer p{
    margin: 0;
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: #E94E18;
    font-weight:bold
}